name: Release Library

on:
  release:
    types: [created]

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # needed for tagging

    - name: Set up Java and Maven Central credentials
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '11'
        server-id: central
        server-username: ${{ secrets.CENTRAL_TOKEN_USERNAME }}
        server-password: ${{ secrets.CENTRAL_TOKEN_PASSWORD }}
        gpg-private-key: ${{ secrets.GPG_SIGNING_KEY }}
        gpg-passphrase: ${{ secrets.GPG_SIGNING_KEY_PASSWORD }}

    - name: Set release version
      run: mvn versions:set -DnewVersion=${{ github.event.release.tag_name }}

    - name: Commit release version
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        git commit -am "Release ${{ github.event.release.tag_name }}"
        git push origin HEAD:main

    - name: Build and test
      run: mvn clean install -DskipTests=false

    - name: Generate Javadoc
      run: mvn javadoc:javadoc

    - name: Deploy Javadoc to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./target/reports/apidocs

    - name: Deploy to Maven Central
      run: mvn -P release --batch-mode deploy -DskipTests
